In [ ]:
import pandas as pd
import numpy as np

## Упражнение № 1

Создайте Series из каждого из элементов: списка, ndarray и словаря.

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

series_from_list = pd.Series(mylist)
series_from_array = pd.Series(myarr)
series_from_dict = pd.Series(mydict)


## Упражнение № 2

Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

In [ ]:
ser = pd.Series(mydict)
ser_df = pd.DataFrame(ser,ser.index)
print(ser_df.head())

   0
a  0
b  1
c  2
e  3
d  4

## Упражнение № 3

Объедините `ser1` и `ser2`, чтобы сформировать датафрейм.

In [ ]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.DataFrame({'ser1': ser1, 'ser2': ser2})

print(df)

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

## Упражнение № 4

Добавьте имя ряда  `ser`, назвав его `latin_letters`.

In [ ]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'latin_letters'

print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

## Упражнение № 5

Из `ser1` удалите элементы, присутствующие в `ser2`.

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

result = ser1[~ser1.isin(ser2)]

print(result)

0    1
1    2
2    3
dtype: int64

## Упражнение № 6

Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

unique_to_ser1 = ser1[~ser1.isin(ser2)]
unique_to_ser2 = ser2[~ser2.isin(ser1)]
result = pd.concat([unique_to_ser1, unique_to_ser2])

print(result)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

## Упражнение № 7

Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

In [ ]:
ser = pd.Series(np.random.normal(10, 5, 25))

stats = ser.describe(percentiles=[0.25, 0.75])

min_value = stats['min']
percentile_25 = stats['25%']
median = stats['50%']
percentile_75 = stats['75%']
max_value = stats['max']

print(f"Min: {min_value}, 25th percentile: {percentile_25}, Median: {median}, 75th percentile: {percentile_75}, Max: {max_value}")

Min: 1.9430917028839794, 25th percentile: 7.634152982090915, Median: 9.562204610572227, 75th percentile: 15.4396677258387, Max: 18.698599271614356

## Упражнение № 8

Вычислите частоту встречаемости каждого уникального значения `ser`.

In [ ]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

frequency = ser.value_counts()

print(frequency)

b    7
g    6
a    4
h    4
e    4
f    3
c    2
Name: count, dtype: int64

## Упражнение № 9

Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить на `Прочее`.

In [ ]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

top_2 = ser.value_counts().nlargest(2).index

result = ser.where(ser.isin(top_2), 'Прочее')

print(result)

0          3
1     Прочее
2          3
3          2
4     Прочее
5          3
6     Прочее
7          2
8          2
9          2
10         2
11    Прочее
dtype: object

## Упражнение № 10

Разбейте ряд `ser` на 10 равных децилей и замените значения на название дециля.

In [ ]:
ser = pd.Series(np.random.random(20))

deciles = pd.qcut(ser, q=10, labels=[f"{i}th" for i in range(1, 11)])

print(deciles.head())

0    6th
1    2th
2    9th
3    8th
4    7th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

## Упражнение № 11

Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцами

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5))
print(df)

   0  1  2  3  4
0  4  7  1  7  2
1  8  7  1  1  3
2  2  1  4  9  5
3  1  9  3  7  1
4  4  4  6  2  2
5  5  1  4  4  9
6  8  5  1  2  3

## Упражнение № 12

Найти позиции чисел, кратных 3, из ряда `ser`.

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))
positions = np.where(ser % 3 == 0)[0]
print(positions)

## Упражнение № 13

Из `ser` извлечь элементы, находящиеся на позициях в списке `pos`.

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
result = ser.iloc[pos]
print(result)

0     a
4     e
8     i
14    o
20    u
dtype: object

## Упражнение № 14

Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм).

In [ ]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df_vertical = pd.concat([ser1, ser2], axis=0)
df_horizontal = pd.concat([ser1, ser2], axis=1)
print(df_vertical)
print(df_horizontal)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## Упражнение № 15

Получите позиции элементов `ser2` в `ser1` в виде списка.

In [ ]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
positions = [ser1[ser1 == val].index[0] for val in ser2]
print(positions)

[5, 4, 0, 8]

## Упражнение № 16

Вычислить среднеквадратическую ошибку рядов `truth` и `pred`.

In [ ]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
mse = ((truth - pred) ** 2).mean()
print(mse)

0.3094310916790238

## Упражнение № 17

В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
result = ser.str.capitalize()
print(result)

0     How
1      To
2    Kick
3    Ass?
dtype: object

## Упражнение № 18

В каждом слове `ser` посчитайте число символов.

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
result = ser.str.len()
print(result)

0    3
1    2
2    4
3    4
dtype: int64

## Упражнение № 19

Вычислите разность разностей между последовательно идущими числами в `ser`.

In [ ]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
first_diff = ser.diff()
second_diff = first_diff.diff()
print(first_diff)
print(second_diff)

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64
0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

## Упражнение № 20

Преобразуйте строковое представление дат в `datetime64`.

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
result = pd.to_datetime(ser, format='mixed')
print(result)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## Упражнение № 21

Получите из `ser` день месяца, номер недели, день года и день недели.

In [ ]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
dates = pd.to_datetime(ser, format='mixed')
day_of_month = dates.dt.day
week_number = dates.dt.isocalendar().week
day_of_year = dates.dt.dayofyear
day_of_week = dates.dt.day_name()
print("Date:", day_of_month.tolist())
print("Week number:", week_number.tolist())
print("Day num of year:", day_of_year.tolist())
print("Day of week:", day_of_week.tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

## Упражнение № 22

Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

In [ ]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
result = pd.to_datetime('04 ' + ser)
print(result)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

## Упражнение № 23

Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

In [ ]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
result = ser[ser.str.count(r'[aeiouAEIOU]') >= 2]
print(result)

0     Apple
1    Orange
4     Money
dtype: object

In [ ]:
## Упражнение № 24

Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для корректных адресов электронной почты приведен в качестве образца.

In [ ]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'
result = emails[emails.str.contains(pattern)]
print(result)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

## Упражнение № 25

Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

In [ ]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
result = weights.groupby(fruit).mean()
print(result)


## Упражнение № 26

Вычислить [евклидово расстояние](https://en.wikipedia.org/wiki/Euclidean_distance) между векторами $p$ и $q$, не используя встроенную формулу.

In [ ]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
distance = ((p - q) ** 2).sum() ** 0.5
print(round(distance, 3))

18.166

## Упражнение № 27

Получите позиции пиков (значений, окруженных с двух сторон меньшими значениями) в `ser`.

In [ ]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
peaks = np.where((ser > ser.shift(1)) & (ser > ser.shift(-1)))[0]
print(peaks)

[1 5 7]

## Упражнение № 28

Замените пробелы в `my_str` на наименее часто встречающийся символ.

In [ ]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
least_frequent = ser.value_counts().keys()[-1]
print(least_frequent)
my_str.replace(' ',least_frequent)

g

'dbcgdebgabedggade'

## Упражнение № 29

Создайте временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа

In [ ]:
dates = pd.date_range('2000-01-01', periods=10, freq='W-SAT')
ser = pd.Series(np.random.randint(1, 10, 10), index=dates)
print(ser)

2000-01-01    1
2000-01-08    9
2000-01-15    6
2000-01-22    1
2000-01-29    9
2000-02-05    8
2000-02-12    7
2000-02-19    5
2000-02-26    5
2000-03-04    1
Freq: W-SAT, dtype: int64

## Упражнение № 30

В `ser` отсутствуют некоторые даты и значения. Сделайте так, чтобы все отсутствующие даты появились и заполнились значением из предыдущей даты.

In [ ]:
ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
result = ser.resample('D').ffill()
print(result)

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

## Упражнение № 31

Вычислите автокорреляции для первых 10 лагов `ser`. Определите, какой из лагов имеет наибольшую корреляцию. (см. также [Модель авторегрессии и распределённого лага — Википедия](https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D1%81%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BB%D0%B0%D0%B3%D0%B0))

In [ ]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
autocorrelations = [ser.autocorr(lag=i) for i in range(1, 11)]
max_lag = np.argmax(autocorrelations) + 1
print(autocorrelations)
print("Lag having highest correlation:", max_lag)

[0.39357027710399717, 0.26579228267092203, 0.16762764599470975, -0.15387530197830704, -0.07199798294118293, 0.0334573988084037, 0.26843958541964646, 0.2918928346498974, 0.2712874126622643, 0.36665772212808395]
Lag having highest correlation: 1

## Упражнение № 32

Импортируйте каждую 50-ю строку набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url).iloc[::50]
print(df)

         crim    zn  indus  chas    nox     rm    age     dis  rad  tax  \
0     0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296
50    0.08873  21.0   5.64     0  0.439  5.963   45.7  6.8147    4  243
100   0.14866   0.0   8.56     0  0.520  6.727   79.9  2.7778    5  384
150   1.65660   0.0  19.58     0  0.871  6.122   97.3  1.6180    5  403
200   0.01778  95.0   1.47     0  0.403  7.135   13.9  7.6534    3  402
250   0.14030  22.0   5.86     0  0.431  6.487   13.0  7.3967    7  330
300   0.04417  70.0   2.24     0  0.400  6.871   47.4  7.8278    5  358
350   0.06211  40.0   1.25     0  0.429  6.490   44.4  8.7921    1  335
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
450   6.71772   0.0  18.10     0  0.713  6.749   92.6  2.3236   24  666
500   0.22438   0.0   9.69     0  0.585  6.027   79.7  2.4982    6  391

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
50      16.8  395.56  13.45  19.7
100     20.9  394.76   9.42  27.5
150     14.7  372.80  14.10  21.5
200     17.0  384.30   4.45  32.9
250     19.1  396.28   5.90  24.4
300     14.8  390.86   6.07  24.8
350     19.7  396.90   5.98  22.9
400     20.2  396.90  26.77   5.6
450     20.2    0.32  17.44  13.4
500     19.2  396.90  14.33  16.8

## Упражнение № 33

Импортируйте набор данных [boston housing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv), но при импорте измените столбец `'medv'` (*median house value*) так, чтобы значения < 25 стали `Low`, а > 25 - `High`.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url)
df['medv'] = np.where(df['medv'] < 25, 'Low', 'High')
print(df.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

## Упражнение № 34

Создайте датафрейм со строками в виде шагов (интервалов) заданного ряда

In [ ]:
L = pd.Series(range(15))
step = 2
window = 4
result = pd.DataFrame([L[i:i+window].values for i in range(0, len(L)-window+1, step)])
print(result)

## Упражнение № 35

Импортируйте столбцы 'crim' и 'medv' из набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url, usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

## Упражнение № 36

Получите количество строк, столбцов, тип данных и суммарную статистику каждого столбца набора данных [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv). Также получите эквивалент датафрейма в виде numpy-массива и списка.

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
count_lines = df.__len__()
count_columns = df.columns.__len__()
datatypes = df.dtypes.value_counts()
statistics = df.describe()
df_np = df.to_numpy()
df_list = df.to_numpy().tolist()
statistics

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.000000,91.000000,88.000000,84.000000,91.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

## Упражнение № 37

Извлеките номер строки и столбца конкретной ячейки по заданному критерию.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
max_price_idx = df['Price'].idxmax()
max_price_row = df.loc[max_price_idx]
print("Производитель, модель и тип с наибольшей ценой:", max_price_row[['Manufacturer', 'Model', 'Type']])
print("Номер строки и столбца:", max_price_idx, df.columns.get_loc('Price'))

Производитель, модель и тип с наибольшей ценой: Manufacturer    Mercedes-Benz
Model                    300E
Type                  Midsize
Name: 58, dtype: object
Номер строки и столбца: 58 4

## Упражнение № 38

Переименуйте в `df` столбец `Type` в `CarType` и замените `.` в именах столбцов на `_`.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
df.rename(columns={'Type': 'CarType'}, inplace=True)
df.columns = df.columns.str.replace('.', '_')
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

## Упражнение № 39

Проверьте, нет ли в `df` отсутствующих значений.

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.isna().any().any())

True

## Упражнение № 40

Подсчитайте количество пропущенных значений в каждом столбце `df`. Какой столбец имеет наибольшее число пропущенных значений?

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
missing_counts = df.isnull().sum()
print("Количество пропущенных значений:\n", missing_counts)
print("Столбец с наибольшим числом пропусков:", missing_counts.idxmax())

Количество пропущенных значений:
 Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64
Столбец с наибольшим числом пропусков: AirBags

## Упражнение № 41

Замените отсутствующие значения в столбцах `Min.Price` и `Max.Price` на соответствующие им средние значения.

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv',usecols=['Max.Price','Min.Price'])

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df["Max.Price"].mean())
df

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

## Упражнение № 42

В `df` с помощью метода `apply` замените недостающие значения в `Min.Price` на среднее значение столбца, а в `Max.Price` — на медиану столбца.

In [ ]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'
df = pd.read_csv(url)
df['Min.Price'] = df['Min.Price'].apply(lambda x: df['Min.Price'].mean() if pd.isnull(x) else x)
df['Max.Price'] = df['Max.Price'].apply(lambda x: df['Max.Price'].median() if pd.isnull(x) else x)
print(df[['Min.Price', 'Max.Price']].head())

   Min.Price  Max.Price
0  12.900000      18.80
1  29.200000      38.70
2  25.900000      32.30
3  17.118605      44.60
4  17.118605      19.15

## Упражнение № 43

Получите первый столбец (`a`) в `df` в виде датафрейма (а не в виде ряда).

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
result = df[['a']]
print(result)

    a
0   0
1   5
2  10
3  15

## Упражнение № 44

1. В `df` поменяйте местами столбцы `'a'` и `'c'`.
2. Создайте обобщенную функцию для обмена данными между двумя столбцами без фиксированного задания имен столбцов.
3. Отсортируйте столбцы в обратном алфавитном порядке, т.е. от столбца `'e'` до столбца `'a'`.

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[['a', 'c']] = df[['c', 'a']]
def swap_columns(df, col1, col2):
    df[[col1, col2]] = df[[col2, col1]]
    return df

df = df[sorted(df.columns, reverse=True)]
print(df)

    e   d   c   b   a
0   4   3   0   1   2
1   9   8   5   6   7
2  14  13  10  11  12
3  19  18  15  16  17

## Упражнение № 45

Измените настройки отображения `pandas` при выводе на печать датафрейма `df`, чтобы он показывал максимум 10 строк и 10 столбцов.

In [ ]:
df =pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

df

,Manufacturer,Model,Type,Min.Price,Price,...,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,...,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,...,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,...,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,...,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,...,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,...,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,...,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,...,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,...,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,...,30.0,15.0,3245.0,non-USA,Volvo 850

## Упражнение № 46

Исключите вывод научной нотации типа 'e-03' в `df` и выведите до 4 чисел после запятой.

In [ ]:
pd.set_option('display.float_format', '{:.4f}'.format)
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print(df)

   random
0  0.0000
1  0.0004
2  0.0000
3  0.0022

## Упражнение № 47

Отформатируйте значения в столбце `'random'` из `df` в виде процентов.

In [ ]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df['random'] = df['random'].apply(lambda x: f'{x:.2%}')
print(df)

   random
0  79.62%
1  32.20%
2  87.93%
3  46.94%

## Упражнение № 48

Из `df` отфильтруйте значения `Manufacturer`, `Model` и `Type` для каждой 20-й строки, начиная с 1-й (строка 0).

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
result = df.iloc[::20, :3]
print(result)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

## Упражнение № 49

В `df` замените `NaN` на `missing` в столбцах `Manufacturer`, `Model` и `Type` , создайте индекс как комбинацию этих трех столбцов и проверьте, является ли этот индекс первичным ключом.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0, 1, 2, 3, 5])
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.set_index(df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type'], inplace=True)
print(df.head())
df.index.is_unique

                       Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small           Acura  Integra    Small    12.9000    18.8000
missing_Legend_Midsize      missing   Legend  Midsize    29.2000    38.7000
Audi_90_Compact                Audi       90  Compact    25.9000    32.3000
Audi_100_Midsize               Audi      100  Midsize        NaN    44.6000
BMW_535i_Midsize                BMW     535i  Midsize        NaN        NaN

True

## Упражнение № 50

Найти положение строки с 5-м наибольшим значением столбца `'a'` в `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))
fifth_largest_idx = df['a'].nlargest(5).index[-1]
print("Положение строки с 5-м наибольшим значением:", fifth_largest_idx)

Положение строки с 5-м наибольшим значением: 5

## Упражнение № 51

В `ser` найдите положение 2-го наибольшего значения, превышающего среднее.

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))
mean_value = ser.mean()
second_largest_idx = ser[ser > mean_value].nlargest(2).index[-1]
print("Положение 2-го наибольшего значения, превышающего среднее:", second_largest_idx)

Положение 2-го наибольшего значения, превышающего среднее: 13

## Упражнение № 52

Получите две последние строки `df`, сумма строк которых больше 100.

In [ ]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
filtered_df = df[df.sum(axis=1) > 100].tail(2)
print(filtered_df)

     0   1   2   3
8   20  21  29  38
13  36  30  27  11

## Упражнение № 53

Замените все значения `ser`, находящиеся ниже 5%-ного и выше 95%-ного перцентиля, на соответствующие значения 5-го и 95-го перцентиля.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))
lower_bound = ser.quantile(0.05)
upper_bound = ser.quantile(0.95)
ser = ser.clip(lower=lower_bound, upper=upper_bound)
print(ser)

0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
       ...
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
Length: 30, dtype: float64

## Упражнение № 54

Перестройте `df` в максимально возможный квадрат с удалением отрицательных значений. При необходимости отбросьте наименьшие значения. Порядок положительных чисел в результате должен остаться тем же, что и в исходном варианте.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

positive = df[df > 0].values.flatten()
n = int(np.sqrt(positive.__len__()))
pd.DataFrame(positive[:n*n].reshape(n, n))

,0,1,2,3,4,5,6,7,8,9
0,NaN,9.0000,14.0000,31.0000,31.0000,42.0000,11.0000,4.0000,22.0000,NaN
1,18.0000,NaN,21.0000,38.0000,NaN,30.0000,11.0000,32.0000,31.0000,NaN
2,NaN,39.0000,31.0000,19.0000,3.0000,NaN,31.0000,38.0000,NaN,29.0000
3,NaN,15.0000,24.0000,6.0000,47.0000,NaN,3.0000,38.0000,NaN,NaN
4,23.0000,43.0000,NaN,47.0000,29.0000,4.0000,NaN,18.0000,38.0000,NaN
5,5.0000,20.0000,NaN,NaN,23.0000,4.0000,39.0000,43.0000,18.0000,NaN
6,43.0000,NaN,48.0000,35.0000,31.0000,44.0000,40.0000,25.0000,9.0000,NaN
7,NaN,19.0000,26.0000,32.0000,27.0000,17.0000,11.0000,16.0000,8.0000,41.0000
8,11.0000,NaN,38.0000,NaN,NaN,30.0000,14.0000,37.0000,27.0000,38.0000
9,27.0000,15.0000,46.0000,NaN,NaN,13.0000,34.0000,NaN,NaN,32.0000

## Упражнение № 55

Поменяйте местами строки 1 и 2 в `df`.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[1], df.iloc[2] = df.iloc[2].copy(), df.iloc[1].copy()
df

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

## Упражнение № 56

Переверните строки датафрейма `df` (первая строка становится последней).

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df = df.iloc[::-1]
df

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

## Упражнение № 57

Получите бинарный код для столбца `'a'` в датафрейме `df` и добавьте его в виде столбцов.

In [ ]:
df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))
binary_df = pd.get_dummies(df['a']).astype(int)
result = pd.concat([binary_df, df.drop('a', axis=1)], axis=1)
print(result)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

## Упражнение № 58

Получите название столбца с наибольшим количеством строчных максимумов в `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))
max_col = df.eq(df.max(axis=1), axis=0).sum().idxmax()
print(max_col)

## Упражнение № 59

Создать новый столбец, в каждой строке которого будет указан номер строки, ближайшей по евклидову расстоянию к данной строке.

In [ ]:
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1),
                  columns=list('pqrs'), index=list('abcdefghij'))

distanses = cdist(df,df, 'euclidean')
np.fill_diagonal(distanses,np.inf)
df['nearest_raw'] = df.index[distanses.argmin(axis=1)]
df['dist'] = distanses.min(axis=1)
print(df)

    p   q   r   s nearest_raw    dist
a  12  16  10  31           h 17.3494
b  64  32  90  44           g 66.1589
c  89  42  18  45           j 47.6865
d   7  14  22  53           a 25.6320
e  26  98  37  28           i 54.0925
f  58  72  61  93           g 39.9124
g  28  48  55  84           f 39.9124
h  24  22  21  31           a 17.3494
i  40  58   8  11           h 46.0543
j  92  14  34  80           c 47.6865

## Упражнение № 60

Вычислите максимально возможное абсолютное значение корреляции каждого столбца с другими столбцами в `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
corr_matrix = df.corr().abs()
max_corr = corr_matrix.apply(lambda x: x.nlargest(2).iloc[-1])
print(max_corr)

p   0.5913
q   0.5522
r   0.7468
s   0.8432
t   0.5913
u   0.5522
v   0.6947
w   0.6947
x   0.4247
y   0.8432
dtype: float64

## Упражнение № 61

Вычислите минимум-максимум для каждой строки `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
min_max = df.apply(lambda x: (x.min(), x.max()), axis=1)
print(min_max)

0     (2, 88)
1     (1, 93)
2     (2, 86)
3    (11, 90)
4     (6, 89)
5     (4, 97)
6     (8, 87)
7     (7, 99)
dtype: object

## Упражнение № 62

Создайте новый столбец `penultimate`, который содержит второе по величине значение каждой строки `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
df['penultimate'] = df.apply(lambda x: x.nlargest(2).iloc[-1], axis=1)
print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  59  98  64  47  21  ...  19  56  25  28           96
1  20  85  67  18  47  ...  48  52  30   2           85
2  19  64  91  67  22  ...  99  93  22  26           93
3  94  79  18  81  97  ...  85   5  80  97           97
4  23  63   1  63  63  ...  54  30  97   9           80
5  52  45  67  28  31  ...  75  69  60  10           75
6  41  73   7  64  95  ...  34  19  44  95           95
7  74  37   1  58  36  ...  81  97  87   6           87

[8 rows x 11 columns]

## Упражнение № 63

1. Нормализуйте все столбцы `df`, вычитая среднее значение столбца и деля его на стандартное отклонение.
2. Произведите ранжирование всех столбцов `df` таким образом, чтобы минимальное значение в каждом столбце было равно 0, а максимальное — 1.

Не используйте внешние пакеты типа `sklearn`.

In [ ]:

df_normalized = (df - df.mean()) / df.std()

df_ranked = (df - df.min()) / (df.max() - df.min())

print("Нормализованный датафрейм:")
print(df_normalized)
print("\nРанжированный датафрейм:")
print(df_ranked)

Нормализованный датафрейм:
        0       1       2       3       4  ...       6       7       8  \
0  0.4117  1.4826  0.6740 -0.2964 -0.9951  ... -1.5551  0.1012 -1.0315
1 -1.0155  0.8402  0.7566 -1.6719 -0.1468  ... -0.5033 -0.0187 -0.8631
2 -1.0521 -0.1977  1.4169  0.6522 -0.9625  ...  1.3466  1.2103 -1.1326
3  1.6924  0.5436 -0.5915  1.3162  1.4845  ...  0.8388 -1.4276  0.8210
4 -0.9057 -0.2471 -1.0592  0.4625  0.3752  ... -0.2856 -0.6782  1.3936
5  0.1555 -1.1367  0.7566 -1.1976 -0.6688  ...  0.4761  0.4909  0.1474
6 -0.2470  0.2471 -0.8941  0.5099  1.4192  ... -1.0110 -1.0080 -0.3916
7  0.9606 -1.5320 -1.0592  0.2253 -0.5057  ...  0.6937  1.3302  1.0568

        9  penultimate
0 -0.1559       0.9252
1 -0.8179      -0.4318
2 -0.2069       0.5551
3  1.6008       1.0485
4 -0.6397      -1.0485
5 -0.6142      -1.6653
6  1.5499       0.8018
7 -0.7161      -0.1850

[8 rows x 11 columns]

Ранжированный датафрейм:
       0      1      2      3      4  ...      6      7      8      9  \
0 0.5333 1.0000 0.7000 0.4603 0.0000  ... 0.0000 0.5543 0.0400 0.2737
1 0.0133 0.7869 0.7333 0.0000 0.3421  ... 0.3625 0.5109 0.1067 0.0000
2 0.0000 0.4426 1.0000 0.7778 0.0132  ... 1.0000 0.9565 0.0000 0.2526
3 1.0000 0.6885 0.1889 1.0000 1.0000  ... 0.8250 0.0000 0.7733 1.0000
4 0.0533 0.4262 0.0000 0.7143 0.5526  ... 0.4375 0.2717 1.0000 0.0737
5 0.4400 0.1311 0.7333 0.1587 0.1316  ... 0.7000 0.6957 0.5067 0.0842
6 0.2933 0.5902 0.0667 0.7302 0.9737  ... 0.1875 0.1522 0.2933 0.9789
7 0.7333 0.0000 0.0000 0.6349 0.1974  ... 0.7750 1.0000 0.8667 0.0421

   penultimate
0       0.9545
1       0.4545
2       0.8182
3       1.0000
4       0.2273
5       0.0000
6       0.9091
7       0.5455

[8 rows x 11 columns]

## Упражнение № 64

Вычислите корреляцию каждой строки `df` с последующей строкой.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df.corrwith(df.shift(-1))

0   -0.3928
1   -0.0800
2    0.4278
3   -0.3467
4   -0.8483
5    0.0297
6   -0.5210
7   -0.1314
8    0.1817
9    0.1237
dtype: float64

## Упражнение № 65

Замените все значения в обеих диагоналях `df` на 0.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

np.fill_diagonal(df.to_numpy(),0)
np.fill_diagonal(np.fliplr(df.to_numpy()),0)

print(df)

    0   1   2   3   4   5   6   7   8   9
0   0  42  99  91  17   8  70  98  70   0
1  83   0  79  73  67  72  26  96   0  95
2  26  61   0  82  70  89  11   0  99  25
3  25  94  75   0  41   5   0  54  83  22
4  60  77  59  94   0   0  12  32  72  45
5  17  88  78  97   0   0  65  57  82  74
6  43  79  94   0  87  41   0  35  93  39
7  29  70   0  91  32  33   7   0  92  92
8  96   0  91  74  73  57  34  96   0   6
9   0  57   4  49  37  68  73   9  28   0

## Упражнение № 66

Из `df_grouped` получите в виде датафрейма группу, относящуюся к `apple`.

In [ ]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})
df_grouped = df.groupby(['col1'])

apple_group = df_grouped.get_group('apple')
apple_group

<ipython-input-88-bb76806d42fc>:6: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  apple_group = df_grouped.get_group('apple')

    col1   col2  col3
0  apple 0.4064     7
3  apple 0.5187     8
6  apple 0.6877     1

## Упражнение № 67

В `df` найдите второе по величине значение `taste` для `banana`.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
banana_taste = df[df['fruit'] == 'banana']['rating'].nlargest(2).iloc[-1]
print("Второе по величине значение 'taste' для 'banana':")
print(banana_taste)

Второе по величине значение 'taste' для 'banana':
0.6236999557208588

## Упражнение № 68

В `df` вычислите среднюю цену `Price` каждого фрукта `Fruit`, сохраняя фрукт как еще один столбец вместо индекса.

In [ ]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
avg_price = df.groupby('fruit', as_index=False)['price'].mean()
print("Средняя цена для каждого фрукта:")
print(avg_price)

Средняя цена для каждого фрукта:
    fruit  price
0   apple 4.3333
1  banana 7.3333
2  orange 9.3333

## Упражнение № 69

Объединить датафреймы `df1` и `df2` по признакам `fruit-pazham` и `weight-kilo`.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

merged_df = pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'])
print("Объединенный датафрейм:")
print(merged_df)

Объединенный датафрейм:
    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        0   apple  high        2
1  orange    low        6  orange   low       12
2   apple   high       10   apple  high        2
3  orange    low       14  orange   low       12
4   apple   high       11   apple  high        2
5  orange    low        5  orange   low       12

## Упражнение № 70

Создайте в `df` два новых столбца, один из них — `lag1` (сдвиг столбца `a` вниз на 1 строку) столбца 'a', а другой — `lead1` (сдвиг столбца `b` вверх на 1 строку).

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print("Датафрейм с новыми столбцами:")
print(df)

Датафрейм с новыми столбцами:
    a   b   c   d  a_lag1  b_lead1
0  54  64  72  65     NaN  26.0000
1  78  26  56  81 54.0000  27.0000
2  36  27  62   8 78.0000  14.0000
3  55  14   8  87 36.0000  30.0000
4  94  30  14  77 55.0000      NaN

## Упражнение № 71

Получите частоты уникальных значений по всему датафрейму `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))
value_counts = df.stack().value_counts()
print("Частоты уникальных значений:")
print(value_counts)

Частоты уникальных значений:
9    4
3    4
7    3
6    2
5    2
8    2
1    1
4    1
2    1
Name: count, dtype: int64

## Упражнение № 72

Разделите столбец `row` в `df` так, чтобы сформировать датафрейм с 3 столбцами, как показано в примере выходных данных.

In [ ]:
df = pd.DataFrame(["STD, City\tState",
                    "33, Kolkata\tWest Bengal",
                    "44, Chennai\tTamil Nadu",
                    "40, Hyderabad\tTelengana",
                    "80, Bangalore\tKarnataka"], columns=['row'])

df_split = df.row.str.split(', |\t', expand=True)
df_columns = df_split.iloc[0]
df_split = df_split[1:]
df_split.columns = df_columns

print(df_split)

0 STD       City        State
1  33    Kolkata  West Bengal
2  44    Chennai   Tamil Nadu
3  40  Hyderabad    Telengana
4  80  Bangalore    Karnataka